---
import { getCollection } from "astro:content";

import LargeSection from "$layouts/LargeSection.astro";
import Section from "$layouts/Section.astro";
import { siteDesc } from "$lib/writings";

import RssIcon from "../components/RssIcon.astro";
import WritingEntries from "../components/WritingEntries.astro";
import WritingsPage from "../layouts/WritingsPage.astro";

export function cmpEntry<T extends { data: { date: Date } }>(a: T, b: T) {
    return b.data.date.valueOf() - a.data.date.valueOf();
}

export async function getWritingEntries() {
    return (await getCollection("writings")).filter((writing) => !writing.data.wip).sort(cmpEntry);
}

export async function getNotesEntries() {
    return await getCollection("notes");
}

const entries = await getWritingEntries();
---

<WritingsPage pageName="Home" desc={siteDesc}>
    <Fragment slot="page-title">The <i>Stardew Library</i></Fragment>

    <LargeSection>
        <p class="icons"><RssIcon /></p>
        <style>
            .icons {
                padding-inline: 1.5rem;
            }
        </style>

        <Section>
            <h2>Entries</h2>

            <WritingEntries entries={entries} />
        </Section>
    </LargeSection>
</WritingsPage>
