---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

import EmojiWrapper from "$components/EmojiWrapper.astro";
import LargeSection from "$layouts/LargeSection.astro";

import WritingsSection from "./WritingsSection.astro";

type Props = {
    Content: AstroComponentFactory;
};

const { Content } = Astro.props;
---

<LargeSection type="article" class="writing">
    <style>
        .writing {
            padding-block: 0.8em;
            padding-inline: 0.6rem;
        }

        @media (max-width: 900px) {
            .writing {
                padding-block: 0.25em;
            }
        }

        @media (max-width: 640px) {
            .writing {
                padding-block: 0em;
            }
        }
    </style>

    <div id="content">
        <EmojiWrapper isContentful={true}>
            <Content
                components={{
                    section: WritingsSection,
                }}
            />
        </EmojiWrapper>

        <style is:global>
            #content ::before,
            #content ::after {
                content: unset;
            }

            #content summary::before {
                content: "";
            }

            #content {
                overflow: auto;

                font-size: 1.25rem;
                padding-inline: 1rem;
            }

            @media (max-width: 900px) {
                #content {
                    font-size: 1.1rem;
                    padding-inline: 0.6rem;
                }
            }

            @media (max-width: 640px) {
                #content {
                    font-size: 1rem;
                    padding-inline: 0.25rem;
                }
            }

            #content aside {
                float: right;
                clear: both;
                max-width: 40%;
                background-color: var(--codeBgColor);

                font-size: 0.8em;
                margin-left: 1rem;
                margin-block: 1.5rem;
                padding-inline: 1rem;
                padding-block: 1px; /* to avoid margin collapse */

                border: 0px solid var(--codeBorderColor);
                border-left-width: 3px;
                border-radius: 5px;
            }

            @media (max-width: 640px) {
                #content aside {
                    max-width: 100%;
                    width: 100%;
                    float: none;
                    margin-left: 0;
                }
            }

            #content p {
                margin-block: 1em;
                line-height: 1.4;
            }

            #content li {
                margin-block: 0.8em;
            }

            #content h1,
            #content h2,
            #content h3,
            #content h4,
            #content h5,
            #content h6 {
                text-align: center;
                font-weight: 500;
            }

            #content section {
                margin-inline: 0;
                margin-block: 1rem;
            }

            #content blockquote {
                font-style: normal;
            }

            #content code {
                word-break: break-all;
            }

            #content u {
                text-decoration: underline solid;
            }

            #content del {
                text-decoration: line-through solid;
            }

            #content figcaption {
                text-align: center;
            }

            #content img,
            #content picture {
                height: min-content;
                margin-inline: auto;
            }

            #content img:not(picture > img),
            #content picture {
                width: 100%;
                filter: drop-shadow(0px 0px 6px #000000a0);
            }
        </style>
    </div>
</LargeSection>
