---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

import EmojiWrapper from "$components/EmojiWrapper.astro";
import LargeSection from "$layouts/LargeSection.astro";
import Section from "$layouts/Section.astro";

type Props = {
    Content: AstroComponentFactory;
};

const { Content } = Astro.props;
---

<LargeSection class="writing">
    <style>
        .writing {
            padding-block: 0.8em;
            padding-inline: 0.6rem;
        }
    </style>

    <div id="content">
        <EmojiWrapper>
            <Content
                components={{
                    section: Section,
                }}
            />
        </EmojiWrapper>

        <style is:global>
            #content ::before,
            #content ::after {
                all: unset;
            }

            #content {
                font-size: large;

                padding-inline: 1rem;
            }

            #content aside {
                float: right;
                background-color: var(--codeBgColor);

                font-size: 0.8em;
                margin-left: 1rem;
                margin-block: 1.5rem;
                padding-inline: 0.75rem;

                border-left: 3px solid var(--codeBorderColor);
                border-radius: 4px;
            }

            #content p {
                margin-block: 1.2em;
                line-height: 1.5;
            }

            #content h1,
            #content h2,
            #content h3,
            #content h4,
            #content h5,
            #content h6 {
                text-align: center;
                font-weight: 500;
            }

            #content section {
                margin-inline: 0;
                margin-block: 1rem;
            }

            #content blockquote {
                font-style: normal;
            }

            #content code {
                word-break: break-all;
            }

            #content u {
                text-decoration: underline solid;
            }
        </style>
    </div>
</LargeSection>
