---
import type { HTMLAttributes } from "astro/types";
import { getEntry } from "astro:content";

import { getEmojiName } from "$lib/emoji";
import { renderSvg } from "$lib/render-svg";

export type Props = HTMLAttributes<"span"> & {
    e: string;
    width?: string | number | undefined;
    height?: string | number | undefined;
    spaceBefore?: string;
    spaceAfter?: string;
};

const { e, width, height, spaceBefore = "", spaceAfter = "", "aria-hidden": ariaHidden, class: cls, ...props } = Astro.props;

const name = getEmojiName(e);
const emojiEntry = await getEntry("emojis", name);
const emoji = renderSvg(emojiEntry?.data.src, {
    "aria-hidden": "true",
    id: undefined,
    width: width ?? "1.2em",
    height: height ?? "1.2em",
})
    .toString()
    .trim()
    .replaceAll("\t", "")
    .replaceAll("\n", "")
    .replaceAll("\r", "");

const spaceWidth = 0.263;
---

<span
    {...props}
    style={{
        marginLeft: spaceBefore && `${spaceBefore.length * spaceWidth}em`,
        marginRight: spaceAfter && `${spaceAfter.length * spaceWidth}em`,
    }}
    aria-hidden={(ariaHidden ?? "true") ? "true" : undefined}
    class:list={["emoji", cls]}
>
    <span data-emoji="true">{spaceBefore}{e}{spaceAfter}</span>
    <Fragment set:html={emoji} />
</span>

<style>
    .emoji {
        display: inline-block;
        position: relative;
        width: auto;
        height: auto;
        vertical-align: center;
        overflow: hidden;
    }

    .emoji :global(svg) {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .emoji :global(span) {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
</style>
