---
let pageLinks = undefined;
if (Astro.slots.has("nav:page-links")) {
    pageLinks = (await Astro.slots.render("nav:page-links")).trim();
}
---

<nav>
    <div id="nav-items">
        <div>
            <p>This Page</p>
            <ul>
                <li>
                    <a href="#maincontent">Skip to content</a>
                </li>
                {pageLinks && <Fragment set:html={pageLinks} />}
            </ul>
        </div>

        <div class="sitemap">
            <p>Sitemap</p>
            <ul>
                <li><a href="https://sqky.one/#">Stella’s Home</a></li>
                <li><a href="https://sqky.one/lavender/#">Lavender’s Home</a></li>
                <li><a href="https://writing.sqky.one/#">Stardew Library</a></li>
                <li><a href="https://the.sqky.one/#">Files Archive</a></li>
                <li><a href="https://media.sqky.one/">Public Jellyfin</a></li>
                <li><a href="https://status.sqky.one/">Uptime Status</a></li>
            </ul>
        </div>

        <slot name="nav:other-categories" />

        <slot name="nav:footer" />

        <!-- to fill up space -->
        <div class="filler"></div>
    </div>
</nav>

<style>
    nav {
        overflow: auto;

        top: 0;
        left: 0;

        backdrop-filter: blur(2px);
        outline: 3px solid var(--navBorderColor);
        box-shadow: var(--cardBoxShadow);
    }

    #nav-items {
        display: flex;

        width: 100%;
        min-width: fit-content;
        height: max-content;
        min-height: 100%;

        flex-wrap: nowrap;

        gap: 2px;
        background-color: var(--navTitleBorderColor);
    }

    nav {
        position: sticky;

        /* navbar sidebar size */
        margin-right: 1.75rem;
        padding: 0;

        min-width: 320px;
        max-width: 320px;
        height: 100dvh;
    }

    #nav-items {
        flex-direction: column;
    }

    #nav-items .filler {
        flex: 1 2;
        margin-top: -2px;
    }

    @media (max-width: 1300px) {
        nav {
            position: static;

            margin: 0;
            padding: 0;

            min-width: unset;
            max-width: unset;
            width: 100%;
            height: 240px;
        }

        #nav-items {
            max-height: 100%;

            flex-direction: row;
        }

        #nav-items > :global(div) {
            width: 100%;
            height: auto;
        }

        #nav-items .filler {
            display: none;
        }
    }

    /* reset styles */
    #nav-items :global(ul),
    #nav-items :global(li) {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #nav-items > :global(div) > :global(p),
    #nav-items > :global(div) > :global(ul) > :global(li) > :global(a) {
        display: block;

        width: max-content;
        height: min-content;
    }
    /* reset styles */

    #nav-items > :global(div) > :global(p) {
        width: 100%;

        margin: 0;
        padding-block: 0.3rem;

        border-bottom: 2px solid var(--navTitleBorderColor);
        background-color: var(--navTitleBgColor);

        text-align: center;
    }

    #nav-items > :global(div) {
        display: flex;
        flex-direction: column;

        background-color: var(--navBgColor);
    }

    #nav-items > :global(div) > :global(ul) {
        display: flex;
        overflow-y: auto;

        width: 100%;

        padding: 1rem;

        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
    }

    #nav-items > :global(div) > :global(ul) > :global(li) > :global(a) {
        padding: 0.15rem;

        border-width: 1px;
        border-style: solid;

        border-color: var(--navLinkBorderColor);
        background-color: var(--navLinkBgColor);
    }

    #nav-items > :global(div) > :global(ul) > :global(li) > :global(a::before) {
        margin-right: 0.25em;

        content: "\>" / "";
    }

    #nav-items > :global(div) > :global(ul) > :global(li) > :global(a:hover),
    #nav-items > :global(div) > :global(ul) > :global(li) > :global(a:focus) {
        background-color: var(--navLinkBgColorActive);
    }

    #nav-items > div.sitemap {
        background-color: var(--sitemapBgColor);
    }

    #nav-items > div.sitemap > :global(ul) > :global(li) > :global(a) {
        border-color: var(--sitemapLinkBorderColor);
        background-color: var(--sitemapLinkBgColor);
    }

    #nav-items > div.sitemap > :global(ul) > :global(li) > :global(a::before) {
        content: "@" / "";
    }

    #nav-items > div.sitemap > :global(ul) > :global(li) > :global(a:hover),
    #nav-items > div.sitemap > :global(ul) > :global(li) > :global(a:focus) {
        background-color: var(--sitemapLinkBgColorActive);
    }
</style>
